<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupSetting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupSetting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BackupSetting.Properties.Settings>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>ts3client_win64</value>
            </setting>
            <setting name="AutomationIdentitiesShortcut" serializeAs="String">
                <value>^i</value>
            </setting>
        </BackupSetting.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BackupSetting.Properties.Settings>
            <setting name="AutomationName" serializeAs="String">
                <value>TeamSpeak 3</value>
            </setting>
            <setting name="AutomationExport" serializeAs="String">
                <value>Export</value>
            </setting>
            <setting name="AutomationImport" serializeAs="String">
                <value>Import</value>
            </setting>
            <setting name="AutomationIdentities" serializeAs="String">
                <value>Identities</value>
            </setting>
            <setting name="AutomationWarning" serializeAs="String">
                <value>Warning</value>
            </setting>
            <setting name="AutomationWarningYes" serializeAs="String">
                <value>Enter</value>
            </setting>
        </BackupSetting.Properties.Settings>
    </applicationSettings>
</configuration>